.dashboard{
    color: white;
    text-align: center;
    margin: auto;
    width: 100%;
}

.dashboard a {
    text-decoration: none;
    color: white;
    border: solid 1px #4caf50;
    padding: 5px;
}

.wordList{
    list-style-type: none;
    padding: 0px;
}

