header h1{
    margin-left: 10px;
}

header a{
    color: white;
    text-decoration: none
}

header nav{
    position: absolute;
    right: 10px;
    top: 20px;
}

header nav a{
    border: solid 1px #4caf50;
    padding: 5px;
    margin: 12px 0
}

header span{
    color: white;
}