@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
  box-sizing: border-box;
}
html{
  min-height: 100%;
}

body {
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(./images/rio-de-janiero.jpg) no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position: center;
  min-height: 100%;
}

:root {
  --font-size: calc(10px + 1vmin);
  min-height: 100%;
}

@media screen and (max-width: 490px) {
  html{
    min-height: 100%;
  }
  body{
    background-size: cover;
    background: url(./images/iphonebg.jpg) repeat;
    background-position: center;
    min-height: 100%;
  }

}
